.card{

  max-width: 257px;
  color: var(--bs-white);
  text-align: center;
  background-color: transparent;
  --bs-card-border-width: none;

  .text-container{
    padding: 0px 10px;
    border-right: 1px solid var(--bs-1st);
    border-left: 1px solid var(--bs-1st);

    h2{
      color: var(--bs-3rd);
    }
  }

  img{
    width: 126px;
    height: 112px;
    margin-bottom: 8px;
  }

  .card-title{
    margin-bottom: 8px;
  }
  
  .card-text{
    margin-bottom: 16px;
  }

  .btn{
    width: 125px;
    height: 36px;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    --bs-btn-line-height: 1;
  }

  .btn:active{
    box-shadow: var(--bs-1st) 0px 0px 5px 0px, var(--bs-1st) 0px 0px 1px 0px;
  }

  .btn-primary{
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-3rd);
    --bs-btn-hover-bg: var(--bs-2nd);
    --bs-btn-hover-color: var(--bs-1st);
    --bs-btn-active-bg: var(--bs-2nd);
    --bs-btn-active-color: var(--bs-1st);
    --bs-btn-active-border-color: var(--bs-1st);
  }
}
