<div class="card mb-3 d-flex">
  <div class="row g-0">
    <div class="col-lg-4 order-lg-1">
      <img src="assets/pictures/nosotros.webp" class="img-fluid" alt="Nosotros">
    </div>
    <div id="card-text" class="col-lg-8 order-lg-0">
      <div class="card-body">
        <h2 class="card-title" style="color: var(--bs-3rd);">Empaques de Cartón</h2>
        <br>
        <p class="card-text">
          Ubicados en Querétaro, México, somos su aliado de confianza  
          en empaques de cartón. Con más de 10 años de experiencia, 
          nos especializamos en la fabricación de cajas, contenedores, 
          separadores y rejillas de alta calidad que son adecuados para 
          una variedad de industrias. 
          Entendemos la importancia de proteger sus productos y nos preocupamos 
          mucho por crear soluciones de empaque duraderas y confiables.
        </p>
      </div>
    </div>
  </div>
</div>
