<div class="modal fade" id="footModal" tabindex="-1" aria-labelledby="footModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-grow-1">
        <div class="container-fluid d-flex flex-row align-items-center justify-content-center">
          <div>
            <p>Aviso de Privacidad</p>
            <p>
              Jakencaja mejor conocido como Jakencaja, con domicilio en Av. Peña de Bernal #7, Col. Loma Bonita, Querétaro, y portal de internet jakencaja.com, es el responsable del uso y protección de sus datos personales, y al respecto le informamos lo siguiente:
              <br><br>
              ¿Para qué fines utilizaremos sus datos personales?
              <br>
              Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que son necesarias para el servicio que solicita:

              Respuesta a mensajes del formulario de contacto, Prestación de cualquier servicio solicitado, Envío de productos adquiridos en esta tienda en línea
              <br><br>
              ¿Dónde puedo consultar el aviso de privacidad integral?
              <br>
              Para conocer mayor información sobre los términos y condiciones en que serán tratados sus datos personales, como los terceros con quienes compartimos su información personal y la forma en que podrá ejercer sus derechos ARCO, puede consultar el aviso de privacidad integral con una petición vía correo electrónico:
              <br><br>
              jakencaja@gmail.com
              <br><br>
              Última actualización de este aviso de privacidad: 09/2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
