.navbar{
  background: var(--bs-1st);
  --bs-navbar-color: var(--bs-white);
  --bs-navbar-hover-color: var(--bs-3rd);
  --bs-navbar-active-color: var(--bs-3rd);
  transition: all 0.6s;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler{
  border: none;
}

.close-navbar-toggler{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  cursor:pointer;
}
.close-navbar-toggler.collapsed{
  z-index:-1;
}

.navbar-scrolled{
  background-color: rgba(34, 34, 51, 0.85);
}

hr{
  width: 50%;
  height: 2px;
  margin: 0.5rem auto;
  opacity: 1;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

img{
  width: 50px;
  height: 34px;
}
