<div class="card">
  <div class="card-body text-center">
    <div class="contaner-fluid text-center">
      <img src="assets/pictures/logo_heroimage.webp" alt="jakencaja">
    </div>
    <br>
    <h1 class="card-title">Tu socio en embalaje</h1>
    <h3 class="card-text">
      Somos tu aliado en empaques. <br>
      Nuestras cajas están hechas para durar <br> 
      y son adecuadas para una variedad de industrias.
    </h3><br>
    <a type="button" class="btn btn-primary" href="#contacto" role="button" ><span>Cotiza con <br> Nosotros</span></a>
  </div>
</div>
