<div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="contactoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-grow-1">
        <div class="container-fluid d-flex flex-row align-items-center justify-content-center">
          <div>
            <img src="assets/pictures/logo_heroimage.webp" alt="jakencaja">
            <span id="texto-gracias">¡Gracias por contactarnos!</span>
            <p>En breve nos pondremos en <br> contacto contigo...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
