<footer class="d-flex flex-wrap flex-lg-nowrap">
  <div id="logo-footer" class="container d-flex align-items-center justify-content-center align-items-lg-center justify-content-lg-start order-lg-0 ms-lg-4">
    <a href="#inicio">
      <img src="assets/pictures/logo_heroimage.webp" alt="jakencaja">
    </a>
  </div>
  <div id="info" class="container d-flex flex-column align-items-center justify-content-center align-items-lg-end justify-content-lg-end order-lg-2 me-lg-4">
    <ul>
      <!-- <li>
        <a href="https://www.facebook.com/" target="_blank">
        </a>
      </li> -->
      <li>
        <a href="mailto:jakencaja@gmail.com">jakencaja@gmail.com</a>
      </li>
      <li>
        <a href="tel:+524422494767">442-249-4767</a>
      </li>
      <li>
        <a href="https://www.google.com.mx/maps/place/Pena+de+Bernal,+San+Miguel,+76118+Santiago+de+Quer%C3%A9taro,+Qro./@20.6547922,-100.4507119,20.46z/data=!4m6!3m5!1s0x85d3509818183897:0x47e0e3181a8a7386!8m2!3d20.6547884!4d-100.4505217!16s%2Fg%2F11rwlvtrkr?entry=ttu&g_ep=EgoyMDI0MDkxOC4xIKXMDSoASAFQAw%3D%3D" target="_blank">
          Av. Peña de Bernal #7, <br>
          Col. Loma Bonita, Querétaro.
        </a>
      </li>
    </ul>
  </div>
  <div id="aviso-privacidad" class="container d-flex align-items-center justify-content-center align-items-lg-end justify-content-lg-center order-lg-1">
    <span><a href="" data-bs-toggle="modal" data-bs-target="#footModal">Aviso de Privacidad</a></span>
  </div>
</footer>

<app-foot-modal></app-foot-modal>
